

    .bnt-preenchido {
        border-radius: .5rem;
        background-color: #01426A;
        color: #ffffff;
        margin-right: 1rem;
        margin: .6rem;
        padding: .6rem;
        cursor: pointer;
    }

    .bnt-outline {
        background-color: transparent;
        border: solid #01426A .15rem;
        color: #01426A;
        border-radius: .5rem;
        margin: .6rem;
        padding: .6rem;
        cursor: pointer;


    }

    .bnt-no-outline {
        background-color: transparent;
        border: none;
        color: #01426A;
        border-radius: .5rem;
        margin: .6rem;
        padding: .6rem;
        cursor: pointer;


    }

