.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: .5rem;
    background-color: #01426A;
    height: 100%;
    padding: 1.5rem;

    .logo{
        height: 1.9em;
        margin-right: 2em;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        h6{
            font-size: 1.2em;
            margin: 0;
        }
    }
}