.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: .5rem;
    background-color: #01426A;
    height: 100%;

    .logo{
        height: 2vw;
        margin-right: 2rem;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        h6{
            font-size: 1.5vw;
            margin: 0;
        }
    }
}