@if (isLoading) {

<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<mat-stepper linear="false" #stepper>

  <mat-step label="Informações" [completed]="etapas.isEtapa1">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
    <app-step-dados (respostaApi)="receberRespostaAPI($event)"></app-step-dados>
  </mat-step>

  <mat-step label="Índices" [completed]="etapas.isEtapa2">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    @if(dividaCalculada != undefined){
    <app-step-informacoes [dividaCalculada]="dividaCalculada"></app-step-informacoes>
    }

  </mat-step>

  <mat-step label="Relatório (PDF)">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
    <app-step-relatorio></app-step-relatorio>
  </mat-step>
</mat-stepper>