form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;

    .container-input {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        height: 100%;
        margin: .5rem 0 .5rem 0;

        .label {
            font-size: 1rem;
            width: 40%;
        }


        .data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60%;

            mat-form-field {
                margin: 0 .5rem 0 .5rem;
            }
        }

    }
}

.bnt {
    display: flex;
    justify-content: right;
    margin-top: 1.5rem;
    width: 100%;

    .bnt-preenchido {
        border-radius: .5rem;
        background-color: #01426A;
        color: #ffffff;
        margin-right: 1rem;
        margin: .6rem;
        padding: .6rem;
        cursor: pointer;
    }

    .bnt-outline {
        background-color: transparent;
        border: solid #01426A .15rem;
        color: #01426A;
        border-radius: .5rem;
        margin: .6rem;
        padding: .6rem;
        cursor: pointer;


    }

    .bnt-no-outline {
        background-color: transparent;
        border: none;
        color: #01426A;
        border-radius: .5rem;
        margin: .6rem;
        padding: .6rem;
        cursor: pointer;


    }

}

table {
    border: 1px rgba(201, 201, 201, 0.349) solid;
    box-shadow: none;
    border-collapse: collapse;

    tr:nth-child(even) {
        background: rgb(248, 248, 248);
        padding: 0;
    }

    td {
        border-bottom: 1px solid #ddd;

    }

    th {
        background: rgba(1, 66, 106, 0.568);
    }
}

.info-valores {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.info-tabela {
    display: block;



    .titulo {
        font-size: 1rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
        
    }


    .legenda {
        font-style: italic;
        font-size: 1rem;
        font-weight: 100;
        

    }
}