<mat-stepper linear="true" #stepper>
  <mat-step  editable="true" label="Informações" [completed]="infoDivida.valid || infoDivida.disabled">
    <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
    <form [formGroup]="infoDivida">
      <div class="container-input">
        <h2 class="label">Valor da dívida:</h2>
        <div class="data">
          <mat-form-field appearance="outline">
            <span matTextPrefix>R$ &nbsp;</span>
            <input matInput formControlName="valor" required [specialCharacters]="[ ',', '.' ]" mask="separator.2"
              thousandSeparator="." placeholder="Valor em reais">
            <mat-hint align="start">Use vírgula para os centavos</mat-hint>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira um valor válido!</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="container-input">
        <h2 class="label">Data de início:</h2>
        <div class="data">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o mês" formControlName="mesInicial">
              @for (mes of meses; track mes) {
              <mat-option [value]="mes.valor">{{mes.nome}}</mat-option>
              }
            </mat-select>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o mês!</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o ano" formControlName="anoInicial">
              @for (ano of anos; track ano) {
              <mat-option [value]="ano">{{ano}}</mat-option>
              }
            </mat-select>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o ano!</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="container-input">
        <h2 class="label">Data de término:</h2>
        <div class="data">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o mês" formControlName="mesFinal">
              @for (mes of meses; track mes) {
              <mat-option [value]="mes.valor">{{mes.nome}}</mat-option>
              }
            </mat-select>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o mês!</mat-error>
            }

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o ano" formControlName="anoFinal">
              @for (ano of anos; track ano) {
              <mat-option [value]="ano">{{ano}}</mat-option>
              }
            </mat-select>
            @if (infoDivida.hasError('dataFinalMenor')) {
            <mat-error>Data final inválida!</mat-error>
            }@else if(!infoDivida.hasError('required')){
            <mat-error>Insira o ano!</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="bnt">
        <button class="bnt-preenchido" (click)="onSubmit(stepper)" type="submit">Calcular</button>
        <button class="bnt-outline" (click)="limparCampos(stepper)">Limpar</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Índices" [completed]="isGerarRelatorio">
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
    <div class="info-valores">
      <app-card titulo="Valor inicial" [valor]="dividaCalculada.valorInicial"></app-card>
      <app-card titulo="Dívida calculada" [valor]="dividaCalculada.valorFinal"></app-card>
    </div>
    <div class="info-tabela">
      <h6 class="titulo">Tabela de índices</h6>
      <p class="legenda"> {{dataInicial}} até {{dataFinal}}</p>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Índice </th>
        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    <div class="bnt">
      <button class="bnt-preenchido" (click)="gerarRelatorio(stepper)" type="buttom">Gerar Relatório</button>
      <button class="bnt-outline" (click)="stepper.previous()">Voltar</button>
    </div>
  </mat-step>

  <mat-step label="Relatório (PDF)">
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
    <p>Tabela de Atualização Monetária </p>
    <div class="bnt">
      <button class="bnt-preenchido" (click)="baixarRelatorio()" type="buttom">Baixar Relatório (PDF)</button>
      <button class="bnt-outline" (click)="limparCampos(stepper)">Novo Calculo</button>
      <button class="bnt-outline" (click)="stepper.previous()">Voltar</button>
    </div>
  </mat-step>
</mat-stepper>