<mat-stepper linear="true" #stepper>
  <mat-step [stepControl]="infoDivida">
    <form [formGroup]="infoDivida">
      <div class="container-input">

        <ng-template matStepLabel>Informações</ng-template>
        <h2 class="label">Valor da dívida:</h2>
        <div class="data">
          <mat-form-field appearance="outline">
            <span matTextPrefix>R$ &nbsp;</span>
            <input matInput formControlName="valor" required [specialCharacters]="[ ',', '.' ]" mask="separator.5"
              thousandSeparator="." placeholder="Valor em reais">
            <mat-hint align="start">Use vírgula para os centavos</mat-hint>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira um valor válido!</mat-error>
            }
          </mat-form-field>

        </div>
      </div>


      <div class="container-input">
        <ng-template matStepLabel>Informações</ng-template>
        <h2 class="label">Data de início:</h2>
        <div class="data">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o mês" formControlName="mesInicial">
              @for (mes of meses; track mes) {
              <mat-option [value]="mes.valor">{{mes.nome}}</mat-option>
              }
            </mat-select>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o mês!</mat-error>
            }

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o ano" formControlName="anoInicial">
              @for (ano of anos; track ano) {
              <mat-option [value]="ano">{{ano}}</mat-option>
              }
            </mat-select>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o ano!</mat-error>
            }
            

          </mat-form-field>
          
        </div>
      </div>


      <div class="container-input">
        <ng-template matStepLabel>Informações</ng-template>
        <h2 class="label">Data de término:</h2>
        <div class="data">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o mês" formControlName="mesFinal">
              @for (mes of meses; track mes) {
              <mat-option [value]="mes.valor">{{mes.nome}}</mat-option>
              }
            </mat-select>
            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o mês!</mat-error>
            }

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione o ano" formControlName="anoFinal">
              @for (ano of anos; track ano) {
              <mat-option [value]="ano">{{ano}}</mat-option>
              }
            </mat-select>

            @if (!infoDivida.hasError('required')) {
            <mat-error>Insira o ano!</mat-error>
            }

          </mat-form-field>
        </div>
      </div>



      <div class="bnt">
        <button matStepperNext class="bnt-calcular">Calcular</button>
        <button class="bnt-limpar">Limpar</button>
      </div>
    </form>
  </mat-step>














  <mat-step [stepControl]="secondFormGroup" label="Índices">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Gerar Relatório</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>